.container-cart {
    flex-direction: column;
}

.container-cart-item {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    max-height: 220px;
}

.container-cart-info {
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    margin: 0;
}

.container-cart-title {
    flex-direction: column;
}

.container-game-price {
    justify-content: center;
}

.container-payment {
    flex-direction: column;
}

.container-payment-radio {
    width: 20px;
    height: 20px;
}
