section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

img {
    height: 100%;
}

#credential-form {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#credential-image {
    width: 890px;
    justify-content: center;
}

h1 {
    color: #4B626C;
    font-size: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
}