.container-user,
.container-games,
.container-info,
.container-games-item {
    flex-direction: column;
    justify-content: center;
}

.container-user-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    width: 70%;
}

.user-link {
    width: 270px;
    height: 45px;
    background-color: #4B626C;
    border-radius: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #FBF6F0;
}

.user-icon {
    margin-left: 30px;
}

.admin-link {
    width: 270px;
    height: 45px;
    background-color: #b8b8b8;
    border-radius: 10px;
    color: #fff;
}

.user-link,.admin-link{
    margin: 15px 0;
}

.container-user-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin: 15px 0;
}

.container-info {
    width: 70%;
}

.container-user {
    width: 60%;
    align-items: center;
    white-space: nowrap;
    color:#4B626C;
}

.container-games {
    background-color: #4B626C;
    width: 40%;
    color: #FBF6F0;
}

.container-games-item {
    max-width: 190px;
    text-align: center;
}

.container-games-title {
    margin-left: 33px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.container-games-grade {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
}