.container-game {
    height: 530px;
    width: 90%;
    margin: auto;
}

.container-game-info {
    flex-direction: column;
    min-width: 400px;
    text-align: center;
    align-items: center;
}

.invert-color>p {
    color: #FBF6F0;
}

.container-game-info>h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin: 20px 0;
}

.container-game-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 15px 35px;
}

.container-game-info>a {
    text-align: center;
}

.game-link {
    width: 230px;
    height: 35px;
    background-color: #FCFAFA;
    border-radius: 5px;
    color: #4B626C;
    line-height: 35px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 16px;
}